@media (min-width: 1024px) {
    .wrapper {
        .welcome {
            .hero img {
                width: 70%;
            }

            .title {
                font-size: 2.5em;
            }
        }

        .country-search {
            height: 100vh;
        }
    }


}