@media (min-width: 375px) and (orientation: portrait) {
    .wrapper {
        .country-search {
            h3 {
                font-size: 2em;
            }

            .search-form {
                .input-field {
                    #search {
                        font-size: 2em;
                    }
                }
            }

            .country-card {
                .country-facts {
                    font-size: 1.5em;
                }
            }
        }
    }
}