@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Permanent+Marker&display=swap');

$main-font: 'Montserrat',
sans-serif;
$header-font: 'Permanent Marker',
cursive;

$gray: rgb(61, 73, 108);
$light-gray: #9EA4B8;
$pink: rgb(230, 78, 155);
$pink-transparent: rgba(230, 78, 155, 0.5);