@import 'custom';
@import 'variables';
@import 'mixins';
@import '/node_modules/swiper/css/swiper.min.css';
@import '/node_modules/materialize-css/dist/css/materialize.min.css';


html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $main-font;
    font-size: 10px;
    background-color: $gray;
    color: white;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.welcome {
    @include flex-section-column();
    font-family: $header-font;
    text-align: center;
    position: relative;

    .top {
        @include flex-row();
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            padding-left: 5%;
        }

        .hamburger {
            padding-right: 5%;
            font-size: 2.5em;
            color: $pink;
            transition: .3s linear;

            .fas {
                display: none;
            }

            .fas.show {
                display: block;
            }
        }
    }

    .nav {
        position: absolute;
        top: 0;
        left: -30%;
        background-color: $pink;
        height: 100%;
        width: 30%;
        transition: .3s linear;

        nav {
            background-color: $pink;
            border: none;
            box-shadow: none;
        }
    }

    .nav.show {
        left: 0;
    }

    p {
        font-size: 2em;
    }

    .hero img {
        margin: 0 auto;
    }

    h1 {
        font-size: 3em;
    }

    .startBtn {
        @include button();
    }
}

.country-search,
.capital-quiz,
.flag-quiz {
    @include flex-section-column();
    text-align: center;
    padding: 20px;
    position: relative;

    h3 {
        display: block;
        font-size: 1.5em;
    }

    .search-form {
        flex-basis: 30%;

        .input-field {
            margin-top: 20px;
        }

        .search {
            color: white;
        }

        .active+#search {
            border-bottom-color: $pink;
            box-shadow: none;
        }
    }

    .swiper-container {
        flex-basis: 70%;
        background-color: $light-gray;
        width: 90%;

        .country-card {
            @include flex-section-column();
            background-color: $light-gray;
            height: 100%;

            .country-card-header {
                @include flex-row();
                width: 100%;
                justify-content: space-around;
                align-items: center;

                .country-name {
                    font-size: 2em;
                }

                .flag {
                    width: 120px;
                    height: 72px;
                }

            }

            .country-facts {
                li {
                    padding: 10px;
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: $pink;
        }
    }

    .create {
        .createBtn {
            @include button();
        }
    }
}

input[type=radio] {
    display: block;
    color: black;
    height: 30px;
    width: 30px;
    background-color: white;

}