@import 'custom';
@import 'variables';
@import 'mixins';
@import '/node_modules/swiper/css/swiper.min.css';


html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $main-font;
    font-size: 10px;
    background-color: $gray;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.welcome {
    font-family: $header-font;
}